

.sidebarfixed {
    position: fixed;
    /* margin-top: 17%;      // Adjust the navbar hieght */
    top:0;
    left: 0;
    bottom: 0;
    background-color: rgb(241, 241, 241);
    padding-top: 100px;
}
