

.navbar{
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}

/* #main-img {
  
    height: 250px;
    width:100%
  } 

@media (min-width: 992px) {      
    #main-img{        
        background-image: url(public\images\logo.png);
    } 
}
@media (min-width: 1200px) {    
   #main-img{         
       background-image: url(public\images\logo_withname.png);
   } 
} */